<h3>Known Assets</h3>
@if (assets().length === 0) {
<p>No assets found</p>
} @for (asset of assets(); track $index) {
<mat-card class="my-4">
  <mat-card-header>
    <mat-card-title>{{ asset.name }}</mat-card-title>
  </mat-card-header>
</mat-card>
}

<h3>Create a new Asset</h3>
<form [formGroup]="createAssetForm" class="grid grid-cols1 gap-4">
  <mat-form-field>
    <mat-label>Asset Name</mat-label>
    <input matInput placeholder="Asset Name" formControlName="name" />
  </mat-form-field>
  <button mat-raised-button (click)="onAddAssetClicked()" type="submit">
    Add Asset
  </button>
</form>
