<h3>Movements</h3>

@for(movement of movements(); track $index) {
<mat-card class="my-4">
  <mat-card-header>
    <mat-card-title
      >{{ movement.asset.name }} -- {{ movement.location.name }}</mat-card-title
    >
    <mat-card-subtitle>{{
      movement.timestamp | date : "MM/dd/yyyy hh:mm:ss a"
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button color="primary">Edit</button>
    <button mat-button color="warn" (click)="onDeleteMovementClicked(movement)">
      Delete
    </button>
  </mat-card-actions>
</mat-card>
}

<h3>Create Movement</h3>
<form class="grid grid-cols-3 gap-4" [formGroup]="form">
  <mat-form-field>
    <mat-label>Asset</mat-label>
    <input matInput placeholder="Asset" formControlName="assetId" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Location</mat-label>
    <input matInput placeholder="Location" formControlName="locationId" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Timestamp</mat-label>
    <input
      matInput
      placeholder="Timestamp"
      formControlName="timestamp"
      type="datetime-local"
    />
    <button matSuffix mat-icon-button (click)="onNowClicked()">
      <mat-icon>next</mat-icon>
    </button>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    (click)="onCreateMovementClicked()"
    type="submit"
  >
    Create
  </button>
</form>
